<div id="sidebar">
  <%= link_to '返回我的设置', profile_path, :class => 'navLink' %>
</div>
<div id="content">
  <h2>修改密码</h2>
    <% form_for :account, :url => {:action => 'change_password'} do |form| %>
      <fieldset>
        <div>
          <label for="old_password" class="block">当前密码</label>
          <%= password_field_tag 'old_password', @old_password, :size => 20, :maxlength=>20, :class => 'text' %>
        </div>

        <div>
          <label for="password" class="block">新设密码</label>
          <%= password_field_tag 'password', {}, :size => 20, :maxlength=>20, :class => 'text' %>
        </div>

        <div>
          <label for="password_confirmation"  class="block">再次输入密码</label>
          <%= password_field_tag 'password_confirmation', {}, :size => 20, :maxlength=>20, :class => 'text' %>
        </div>
        <div class="submitButton"><%= submit_tag '确认修改密码' %></div>
      </fieldset>
    <%end%>
  <div class="clear"></div>
</div>
